@import url("https://fonts.googleapis.com/css2?family=Cantarell&family=Fira+Sans:wght@500&family=Ubuntu:wght@500&display=swap");

body {
  font-family: "Cantarell","Fira Sans","Ubuntu", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color:#040714 ;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code{
    font-family: monospace;
}